.header {
  background-color: black;
  font-style: oblique;
  color: rgb(141, 220, 225);
  font-family: Orbitron, Arial, Helvetica, sans-serif;
}

h1 {
  border: rgb(255, 220, 10) 2px solid;
  text-decoration: underline;
  text-align: center;
}

ul {
  list-style-type: none;
}

body {
  background-color: black;
  color: rgb(141, 220, 225);
  font-family: Orbitron, Arial, Helvetica, sans-serif;
}

.banniere {
  width: 99%;
  border-radius: 10px;
  border-style: double;
}

/* Menu deroulant */
li {
  list-style: none !important;
  color: rgb(141, 220, 225);
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
}

nav ul {
  padding: 0;
  margin: 0;
  font-family: Orbitron, Arial, Helvetica, sans-serif;
}

nav ul li {
  list-style: none;
  line-height: 44px;
  float: left;
  background-color: rgb(250, 162, 42);
  text-decoration: underline;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

nav ul li a {
  color: rgb(141, 220, 225);
  font-weight: bold;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
}
li a:hover {
  border-bottom: 3px rgb(141, 220, 225);
}

nav ul li ul {
  display: none;
}

nav ul li:hover ul {
  z-index: 99999;
  display: list-item !important;
  position: absolute;
  margin-top: 5px;
  margin-left: -10px;
}

nav ul li:hover ul li {
  float: none;
}
/* H2 */
h2 {
  text-align: center;
  text-decoration: underline;
  margin: 50px;
}

.img img {
  width: 50%;
  margin: 2%;
  border-radius: 10px;
  border-bottom: orange solid 2px;
  border-top: orange solid 2px;
  display: block;
  margin: auto;
}

.img p {
  text-justify: auto;
  text-align: center;
  margin: 6%;
}

/* ne marche pas */
.img img:last-child {
  filter: grayscale(1);
}
